// Variables
$background: #F1A9A0;
$white: #fff;
$light-grey: #ECF0F1; 
$dark-grey: #ABABAB;
$teal: #50BFA4;
$teal-hov: #58CCB0;
$shadow: rgba(0,0,0,0.2);

// Font Stack
$roboto: 'Roboto Slab', sans-serif;